#first-card{
    margin-bottom: 2%;
}

#second-card{
    margin-top:2%;
}

.mat-input-element{
    margin:2%;
}

.boton{
    margin: 2%;
}

mat-card-title{
    margin-left: 2%;
}

#create{
    margin-left: 2%;
}

html, body {
    height: 100%;
}

#container{
    background-color: #3f51b5;
    height: 100%;
    padding:2%;
    padding-bottom: 0;
}

#sexy-edition{
    font-family: 'Homemade Apple', cursive;
    margin-top: 10px;
}

#atributos{
    margin:auto;
    display: flex;
    width: 55%;
}

#attribute{
    margin:auto;
    flex-grow:10;
    width: 20%;
    
}

#attributeDone{
    margin:auto;
    flex-grow:10;
    width: 5%;
    
}

#botones{
    margin:auto;
    display: flex;
    width: 35%;
}

#campos{
    margin-left:2%;
    display: flex;
    width: 60%;
}
#campo{
    width: 60%;
}
#campoDone{
    width: 55%;
}

#todas{
    max-height: 280px;
    overflow: auto;
}