<mat-form-field appearance="fill" id="nombre">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombre" [(ngModel)]="objectReaded.name" required>
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill" id="date">
    <input matInput [matDatepicker]="date" placeholder="Choose a date" [(ngModel)]="objectReaded.date2" required>
    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker #date></mat-datepicker>
</mat-form-field>

<br>
  <mat-form-field appearance="fill" id="done">
    <mat-label>Acabado</mat-label>
    <mat-select [(value)]="objectReaded.done" required>
      <mat-option value="true">Si</mat-option>
      <mat-option value="false">No</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" id="textarea">
    <mat-label>Descripción</mat-label>
    <textarea matInput [(ngModel)]="objectReaded.description" placeholder="Descripción" required></textarea>
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent" (click)="update()" id="boton">Update</button>
